[help]
  autocorrect=1
[color]
  ui=auto
[user]
	email=felipe.1magrassi@gmail.com
	name=felipe magrassi
	signinkey=F0ADADAED06C0081
[init]
	defaultBranch=main
[core]
  autocrlf = input
	editor=nvim
[pull]
	rebase=false
[push]
  default=current
[status]
  branch=1
  status=1
[commit]
  gpgsign=true
  verbose=true
[format]
	pretty = %C(auto)%h%Creset -%C(auto)%d%Creset %s %C(blue)<%an> %Cgreen(%cr)%Creset
