[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "anime"]
	path = anime
	url = git@github.com:ThePrimeagen/anime.git
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:felipemagrassi/kickstart.nvim.git
