[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "anime"]
	path = anime
	url = git@github.com:ThePrimeagen/anime.git
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = http://github.com/felipemagrassi/kickstart.nvim
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/felipemagrassi/wallpapers
[submodule "tmux/.tmux/plugins/minimal-tmux-status"]
	path = tmux/.tmux/plugins/minimal-tmux-status
	url = https://github.com/niksingh710/minimal-tmux-status/
